:root {
  --main-bg-color: #1c1c3b;
  --main-button-color: #e52963;
}

body {
  margin: 0 5rem 0 5rem;
  font-size: 14px;
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}

nav {
  height: 70px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav * {
  display: inline;
}

nav li {
  margin: 20px;
}

nav li a {
  color: #81d0d4;
  text-decoration: none;
}

.logo {
  color: white !important;
  text-decoration: none;
  font-size: 20px;
}

.selected {
  font-weight: bold;
  color: #ea2866;
}

.static-page {
  color: white;
}

.main-button {
  width: 100%;
  font-weight: 700;
  line-height: 2rem;
  background: var(--main-button-color);
  border-radius: 0.25rem;
  color: #fff;
  display: inline-block;
  height: 2.5rem;
  min-height: 2.5rem;
  overflow: hidden;
  padding: 0 1rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: 0;
}

.main-button:hover {
  opacity: 0.9;
}

.popup-template {
  text-align: center;
}

.leaflet-control {
  background-color: white;
  color: var(--main-bg-color);
  margin: 1rem;
  padding: 1rem;
}

/* leaflet classes */
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
